.lol {margin-top: 150px;
margin-left: 655px}

a {font-size: 11px;
font-family: fantasy;;
color: black;}

header {text-align: right;
}

.lel {margin-top: 200px;
  margin-right: 10px;
}

.lell {margin-top: 190px;
margin-right: 10px;
}

img{
margin-top: 10px;

}
